.menu-bar {
  height: 70px;
  padding: 40px;
  background-color:#2D2D28;
  color:#F2FF59;
  font-family: "Lucida Console", monospace;
  position: sticky;
}

.menu-logo {
  font-size: 20pt;
  width: 180px;
  float: left;
}

.menu-items {
  display: flex;
  float: right;
}

.menu-item {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16pt;
}

.home-content {
  padding: 80px;
  background-color:#2D2D28;
  color:#FFFFFF;
  font-family: "Lucida Console", monospace;
  padding-bottom: 200px;
  display: flex;
}

.label {
  width: 100px;
  overflow-wrap: normal;
}

/* Grid.css */
.cell {
  padding: 8px;
  width: 20px !important; 
  height: 20px !important;
  border: 1px solid #2D2D28;
  pointer-events: 'none';
  background-color: #FFFFFF;
}

.row {
  background-color: #FFFFFF;
}

.grid {
  display: flex;
}

.colour-picker {
  margin-left: 15px;
  width: 100px;
  height: 100px;
}

.colour-picker-wrapper {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid-controls {
  display: block;
  margin-left: 50px;
}

.reset-button {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  color:#2D2D28;
  font-family: "Lucida Console", monospace;
  font-size: 14pt;
}

/** Bar */
.bar {
  width: 100%;
  background-color: #ddd;
  margin: 10px 0;
}

.bar-fill {
  height: 20px;
  background-color: blue;
  transition: width 0.5s ease-in-out;
}