.menu-bar {
  height: 70px;
  padding: 40px;
  background-color:#2D2D28;
  color:#F2FF59;
  font-family: "Lucida Console", monospace;
  position: sticky;
}

.menu-logo {
  font-size: 20pt;
  width: 180px;
  float: left;
}

.menu-items {
  display: flex;
  float: right;
}

.menu-item {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16pt;
}

.home-content {
  padding: 40px;
  background-color:#2D2D28;
  color:#FFFFFF;
  font-family: "Lucida Console", monospace;
}