a {
  color:#EA89E6;
}
a:hover {
  color:#EA89E6;
}

.menu-bar {
  height: 70px;
  padding: 40px;
  background-color:#2D2D28;
  color:#F2FF59;
  font-family: "Lucida Console", monospace;
  position: sticky;
}

.menu-logo {
  font-size: 20pt;
  width: 180px;
  float: left;
}

.menu-items {
  display: flex;
  float: right;
}

.menu-item {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16pt;
  color:#F2FF59;
  text-decoration: none;
}

.home-content {
  padding: 80px;
  background-color:#2D2D28;
  color:#FFFFFF;
  font-family: "Lucida Console", monospace;
  padding-bottom: 200px;
  display: flex;
  text-align: justify;
}

.label {
  width: 100px;
  overflow-wrap: normal;
  text-align: left;
}

/* Grid.css */
.cell {
  padding: 8px;
  width: 20px !important; 
  height: 20px !important;
  border: 1px solid #2D2D28;
  pointer-events: 'none';
  background-color: #FFFFFF;
}

.row {
  background-color: #FFFFFF;
}

.grid {
  display: flex;
}

.colour-picker {
  margin-left: 15px;
  width: 100px;
  height: 100px;
  border: none;
}

.colour-picker-wrapper {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid-controls {
  display: block;
  margin-left: 50px;
}

/** Buttons */
.reset-button {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  color:#2D2D28;
  background-color: #FFFFFF;
  font-family: "Lucida Console", monospace;
  font-size: 14pt;
}

.light-bulb {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
  font-size: 25pt;
  background-color: black;
  border: 0;
  margin-right: 25px;
}

.light-bulb-wrapper {
 display: flex;
 font-size: 10pt;
 margin: auto;
 align-items: center;
 margin-bottom: 50px;
 border: 1px solid;
 border-color:  white;
 padding: 10px
}

/** Bar */
.bar {
  width: 100%;
  background-color: black;
  margin: 10px 0;
  margin-bottom: 50px;
}

.bar-fill {
  height: 25px;
  background-color: #F2FF59;
  transition: width 0.5s ease-in-out;
}

/**Text*/
.text-block {
  width: 60%;
  margin: auto;
}
.subheader {
  font-size: 16pt;
  color:#F2FF59;
  margin-top: 32px;
  margin-bottom: 10px;
}

.paragraph-text {
  margin-bottom: 50px;
  line-height: 1.5;
}

.credit-text {
  font-size: 12pt;
  color:#F2FF59;
  padding-top: 80px;
  text-align: center;
}